<div class="container">
    <div class="row">
        <form [formGroup]="form1">
            <div class="form-group">
                <div *ngIf="form1.get('id').value==0; then empty else notEmpty"></div>
                <ng-template #empty>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>S.No</td>
                                <td>NAME</td>
                                <td>WEIGHT(in grams)</td>
                                <td>QUANTITY</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="addclicked">
                                <td><input type="text"></td>
                                        <td><input type="text"></td>
                                        <td><input type="text"></td>
                                        <td><input type="text"></td>
                                <!-- <td>
                                    <div formArrayName="id">
                                        <div *ngFor="let step of form1.get('id').controls; let i = index">
                                            <input type="text" class="form-group" [formControlName]="i">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div formArrayName="name">
                                        <div *ngFor="let step of form1.get('name').controls; let i = index">
                                            <input type="text" class="form-control" [formControlName]="i">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div formArrayName="weight">
                                        <div *ngFor="let step of form1.get('weight').controls; let i = index">
                                            <input type="text" class="form-control" [formControlName]="i">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div formArrayName="quantity">
                                        <div *ngFor="let step of form1.get('quantity').controls; let i = index">
                                            <input type="text" class="form-control" [formControlName]="i">
                                        </div>
                                    </div>
                                </td-->
                                <td><button class="btn btn-primary" (click)="hitadd()">Add</button>&nbsp;&nbsp;<button class="btn btn-danger"
                                        (click)="hitcancel()">Cancel</button></td>
                            </tr>
                            <button [ngStyle]="{display: getvisible()}" class="btn btn-default" (click)="addRow()">ADD</button>
                        </tbody>
                    </table>
                </ng-template>

                <ng-template #notEmpty>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>S.No</td>
                                <td>NAME</td>
                                <td>WEIGHT(in grams)</td>
                                <td>QUANTITY</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of form1.get('id').value; let k = index">
                                <td>{{ form1.get('id').value[k] }}</td>
                                <td>{{ form1.get('name').value[k] }}</td>
                                <td>{{ form1.get('weight').value[k] }}</td>
                                <td>{{ form1.get('quantity').value[k] }}</td>
                                <td><button class="btn btn-primary" (click)="editRow()">Edit</button>&nbsp;&nbsp;<button class="btn btn-danger"
                                        (click)="delRow()">Delete</button></td>
                            </tr>
                             <tr *ngIf="addclicked">
                                <td><input type="text"></td>
                                        <td><input type="text"></td>
                                        <td><input type="text"></td>
                                        <td><input type="text"></td>
                            <!--    <td>
                                    <div formArrayName="id">
                                        <div *ngFor="let step of form1.get('id').controls; let i = index">
                                            <input type="text" class="form-group" [formControlName]="i">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div formArrayName="name">
                                        <div *ngFor="let step of form1.get('name').controls; let i = index">
                                            <input type="text" class="form-control" [formControlName]="i">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div formArrayName="weight">
                                        <div *ngFor="let step of form1.get('weight').controls; let i = index">
                                            <input type="text" class="form-control" [formControlName]="i">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div formArrayName="quantity">
                                        <div *ngFor="let step of form1.get('quantity').controls; let i = index">
                                            <input type="text" class="form-control" [formControlName]="i">
                                        </div>
                                    </div>
                                </td> -->
                                <td><button class="btn btn-primary" (click)="hitadd()">Add</button>&nbsp;&nbsp;<button class="btn btn-danger"
                                        (click)="hitcancel()">Cancel</button></td>
                                <!-- <td><div formArrayName="quantity"></div></td> -->
                            </tr>
                            <button [ngStyle]="{display: getvisible()}" class="btn btn-default" (click)="addRow()">ADD</button>
                        </tbody>
                    </table>
                </ng-template>
            </div>
        </form>
    </div>
</div>